github "robbiehanson/CocoaAsyncSocket" ~> 7.6.3
github "CocoaLumberjack/CocoaLumberjack" ~> 3.7.4
github "lexrus/MMDB-Swift" "0.5.0"
github "tmyk104117/Sodium-framework" "1.0.10.3"
github "behrang/YamlSwift" "3.4.3"
github "zhuhaow/tun2socks" ~> 0.7.0
github "zhuhaow/Resolver" ~> 0.2.0
